body{
    margin: 0;
}

h1{
    color: #ffffff;
    background-color: #0B132B;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #0000;
    font-weight: bold;
    font-style: italic;
    font-variant-east-asian: full-width;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    margin: 0;
    padding: 15px 0;
}

nav{
    color: #ffffff;
    background-color: #0B132B;
    text-align: center;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align:start;
}

h2{
    text-decoration: underline;
    text-align: center;
}

h3{
    text-align: center;
}
img{
    border-radius: 36px;
}

.gancho{
   text-align: center;
}

section{
    margin: 20px;
    padding: 20px;
    border: 2px solid #0B132B;
    border-radius: 36px;
}