body{
    background-color: #1c2541;
    margin: 0; /** Remove a margem padrão do body para o alinhamento correto do h1 e footer*/
}

header{
    border: #ffffff 2px solid;
}

footer{
    background-color: #0B132B;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    border: #ffffff 2px solid;
    padding: 15px; /** Adiciona um pouco de espaçamento vertical */
}

#topo /*ID do h1*/{
    color: #ffffff;
    background-color: #0B132B;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

    margin: 0; /** Remove a margem padrão do h1 */
    padding: 15px; /** Adiciona um pouco de espaçamento vertical */
}

nav{
    background-color: #0B132B;
    text-align: center;
    color: #ffffff;

    
    padding: 15px;
}

/*Agrupa a estilização do h2 e h3*/
h2, h3{
    text-decoration: underline;
    text-align: center;
    color: #180c96;
    font-family: 'Roboto', sans-serif;
}

img{
    border-radius: 36px;
    display: block;
    margin: 0 auto;
}

.gancho{
   text-align: center;
   font-family: 'Roboto', sans-serif;
}

article{
    background-color: #3A506B;
    border: 2px solid #0B132B;
    border-radius: 36px;
    padding: 20px;
    margin: 20px;
}

section{
    color: #5BC0BE;
    font: bold;
    font-size: 18px;
    border-radius: 36px;
    background-color: #ffffffaf;
    margin: 20px 0;
    border: 2px solid #0B132B;
}

aside{
    text-align: center;
}

ul{
    list-style: square;
    color: #0B132B;
    font-family: 'Roboto', sans-serif;
}

ol{
    list-style: upper-roman; /*Enumera a lista em algarismos romanos*/
    color: #0B132B;
    font-family: 'Roboto', sans-serif;
}

a{  
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color: #5BC0BE;
    text-decoration: underline;
}

p{
    color: #0B132B;
    text-indent: 50px;
    font-family: 'Roboto', sans-serif;
}

.clique-aqui{
    text-align: center;
    color: #180c96;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.clique-aqui:hover{
    color: #ffffff;
    text-decoration: underline;
}